@model  List<IsEmriBaslatma_WebUI.ModelView.Siparis_Cikti>
@{
    ViewBag.Title = "IsEmriSiparisRapor";
}

<div class="col-xl-12 col-md-12 col-sm-12 col-12  ">
    <!-- Content -->
    <div class=" ">
        <!-- Striped rows -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <!-- Card -->
                <div class="card mb-10">
                    <div class="card mb-4">
                        <!-- Card Header -->
                        <div class="card-header d-lg-flex">
                            <h4 class="mb-0" style="align-content:center">SİPARİŞ ÇIKTISI</h4>
                        </div>
                    </div>
                    <!-- Tab content -->
                    <div class="tab-content p-4" id="pills-tabContent-striped-rows">
                        <div class="tab-pane tab-example-design fade show
                          active" id="pills-striped-rows-design" role="tabpanel" aria-labelledby="pills-striped-rows-design-tab">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                       
                                    <tbody>
                                        <tr>
                                            <th>Sipariş Veren No</th>
                                            <th>20000000000212</th>
                                            @*<th>@Model.FirstOrDefault().Siparis_Veren_Cari_No</th>*@
                                        </tr>
                                        <tr>
                                            <th>Sipariş Veren Cari İsim</th>
                                            <th>ALL GRUP SAN.TC.LTD</th>
                                        </tr>
                                        <tr>
                                            <th>Müşteri Grubu</th>
                                            <th>AL GURG UNILRVLER</th>
                                        </tr>
                                        <tr>
                                            <td>Malı Teslim Alan No</td>
                                            <td>2000000185</td>
                                        </tr>
                                        <tr>
                                            <td>Malı Teslim Alan İsim</td>
                                            <td>AL GURG UNILEVLER</td>
                                        </tr>
                                        <tr>
                                            <td>Malı Teslim Alan Ülke</td>
                                            <td>BAE </td>
                                        </tr>
                                        <tr>
                                            <td>Sipariş No</td>
                                            <td>5000002321</td>
                                        </tr>
                                        <tr>
                                            <td>Sipariş Kalem No</td>
                                            <td>000000011</td>

                                        </tr>
                                        <tr>
                                            <td>Sipariş Tarihi</td>
                                            <td>07.05.2024</td>

                                        </tr>
                                        <tr>
                                            <td>Malzeme No</td>
                                            <td>30000000000032364</td>
                                        </tr>
                                        <tr>
                                            <td>Orjinal Kod Tanımı</td>
                                            <td>VF700_UVILVR_FRM_VIS_CDA_CLS5</td>
                                        </tr>
                                        <tr>
                                            <td>Sipariş Miktarı</td>
                                            <td>41.000</td>
                                        </tr>
                                        <tr>
                                            <td>Sertifika Ülke</td>
                                            <td>AE</td>
                                        </tr>
                                        <tr>
                                            <td>Sertifika</td>
                                            <td>CEROSH></tdCEROSH>
                                        </tr>
                                        <tr>
                                            <td>YP Gönderim Durumu</td>
                                            <td> YP URUNLERLE GONDER</td>
                                        </tr>
                                        <tr>
                                            <td>Orjinal Referans Kod</td>
                                            <td>ORJINAL KOD/td>
                                        </tr>
                                        <tr>
                                            <td>SiparisYaratan Kullanıcı</td>
                                            <td>MEHMETS</td>
                                        </tr>
                                        <tr>
                                            <td>Son Değişiklik Tarihi</td>
                                            <td>07.05.2024</td>
                                        </tr>
                                        <tr>
                                            <td>Referans Kod</td>
                                            <td>30000012</td>
                                        </tr>
                                        <tr>
                                            <td>Referans Kod Tanımı</td>
                                            <td>Vd>N_VF700></tdN_VF700>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <h5 class="mb-1">BAŞLIK</h5>
                                                <textarea class="form-control"></textarea>
                                            </td>
                                            <td class="text-center">
                                                <h5 class="mb-1"> Kalem Notu</h5>
                                                <textarea class="form-control"></textarea>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Striped rows -->
        <!-- Striped rows -->
    </div>
</div>
